{
  "openapi": "3.0.0",
  "info": {
    "x-logo": {
      "url": "https://cdn.jump.finance/openapi.png",
      "backgroundColor": ""
    },
    "title": "Jump.Finance OpenApi",
    "version": "2.0",
    "contact": {
      "name": "Jump.Finance",
      "email": "support@jump.finance",
      "url": "https://jump.finance/kontakty"
    },
    "description": "# Введение\n**Jump.Finance OpenApi** — продукт, позволяющий вам организовать взаимодйствие с сервисом Jump.Finance из своей системы.\n\n**Возможности:**\n- управление юрлицами для работы с исполнителями через разные юридические лица и банковские счета\n- управление исполнителями\n- создание выплат и получение информации по выплатам\n- получение информации по банковским счетам\n## Общая информация\nНомер телефона всегда передается в формате '+70000000000'\n\nВ каждом запросе должны быть заголовки:\n- Accept: application/json\n- Content-Type: application/json\n## Авторизация\nДля авторизации необходимо передать ключ клиента. Ключ можно передать двумя способами:\n\n```GET-параметр client_key```\n\n ```заголовок Client-Key```\n## Правовые формы\nВсе исполнители имеют правовую форму **legal_form_id**.\n\nДоступные значения:\n\n\n- 1 - физическое лицо\n\n- 2 - самозанятый\n\n- 3 - ип\n\n## Статусы выплат\nВсе выплаты имеют текущий статус **status_id**.\n\nДоступные значения:\n\n\n- 1 - оплачен (без возможности дальнейших действий)\n\n- 2 - отклонён (без возможности дальнейших действий)\n\n- 3 - в обработке (ждём проведение через платежные системы)\n\n- 4 - ожидает подтверждения (требуется подтверждение выплаты в ЛК)\n\n- 5 - ошибка выплаты (с возможностью повторить действие, отменить выплату или зачислить средства на баланс исполнителя)\n\n## Ошибки\n**401 Unauthorized** - ошибка авторизации\n\n```\n{\n  \"error\": {\n    \"title\": \"Ошибка авторизации\",\n    \"detail\": \"Требуется авторизация\",\n    \"fields\": null,\n    \"code\": 401\n  }\n}\n```\n\n**403 Forbidden** - ошибка доступа\n\n```\n{\n  \"error\": {\n    \"title\": \"Доступ ограничен\",\n    \"detail\": \"This action is unauthorized.\",\n    \"fields\": null,\n    \"code\": 403\n  }\n}\n```\n\n**404 Not Found** - ресурс не найден\n\n```\n{\n  \"error\": {\n    \"title\": \"Ошибка\",\n    \"detail\": \"Ресурс не найден\",\n    \"fields\": null,\n    \"code\": 404\n  }\n}\n```\n\n**422 Unprocessable Entity** - ошибка валидации\n\n```\n{\n  \"error\": {\n    \"title\": \"Ошибка\",\n    \"detail\": \"The given data was invalid.\",\n    \"fields\": [\n      {\n        \"field\": \"name\",\n        \"messages\": [\n          \"Поле Название обязательно для заполнения.\"\n        ]\n      },\n      {\n        \"field\": \"inn\",\n        \"messages\": [\n          \"Поле ИНН обязательно для заполнения.\"\n        ]\n      }\n    ],\n    \"code\": 422\n  }\n\n}\n```\n\n**500 Internal Server Error** - неизвестная ошибка\n\n```\n{\n  \"error\": {\n    \"title\": \"Ошибка\",\n    \"detail\": \"Внутренняя ошибка сервера\",\n    \"fields\": null,\n    \"code\": 500\n  }\n}\n```\n",
    "termsOfService": "https://jump.finance/rules/"
  },
  "x-tagGroups": [
    {
      "name": "Методы:",
      "tags": [
        "Банковские счета",
        "Внутренние балансы",
        "Выплаты",
        "Группы",
        "Интеграции",
        "Исполнители",
        "Самозанятые",
        "Словари",
        "Юрлица",
        "Филиалы",
        "Отделы юрлиц",
        "Должности",
        "Штатные сотрудники",
        "Типы документов",
        "Документы",
        "Акты",
        "Подписи документов",
        "Отпуска",
        "Виды отпусков",
        "Кандидаты",
        "Анкеты кандидатов",
        "Расчетные листы",
        "Шаблоны заявлений",
        "Заявления",
        "Провайдеры подписей",
        "Производственные календари"
      ]
    }
  ],
  "tags": [
    {
      "name": "Банковские счета",
      "description": "Данные методы предназначены для получения банковских счетов компании."
    },
    {
      "name": "Внутренние балансы",
      "description": "Данные методы предназначены для получения внутренних балансов компании."
    },
    {
      "name": "Выплаты",
      "description": "Данные методы предназначены для создания выплат исполнителям."
    },
    {
      "name": "Группы",
      "description": "Данные методы предназначены для получения групп компании."
    },
    {
      "name": "Интеграции",
      "description": "Данные методы предназначены для получения интеграций компании."
    },
    {
      "name": "Исполнители",
      "description": "Данные методы предназначены для получения и создания исполнителей. Исполнители выполняют работы и получают за это оплату."
    },
    {
      "name": "Самозанятые",
      "description": "Данные методы предназначены для получения информации о самозанятых исполнителях."
    },
    {
      "name": "Словари",
      "description": "Список словарей"
    },
    {
      "name": "Юрлица",
      "description": "Данные методы предназначены для получения и создания юрлиц. Как правило, при регистрации в сервисе, первое юрлицо создается автоматически. Если вы работаете через одно юрлицо, достаточно получить его ID и использовать для всех исполнителей."
    },
    {
      "name": "Отделы юрлиц",
      "description": "Данные методы предназначены для получения и создания отделов юрлиц."
    },
    {
      "name": "Должности",
      "description": "Данные методы предназначены для получения и создания должностей."
    },
    {
      "name": "Штатные сотрудники",
      "description": "Данные методы предназначены для управления штатными сотрудниками."
    },
    {
      "name": "Типы документов",
      "description": "Данные методы предназначены для получения и создания типов документов."
    },
    {
      "name": "Документы",
      "description": "Данные методы предназначены для получения и создания документов."
    },
    {
      "name": "Акты",
      "description": "Данные методы предназначены для получения и создания актов."
    },
    {
      "name": "Подписи документов",
      "description": "Данные методы предназначены для подписи документов."
    },
    {
      "name": "Отпуска",
      "description": "Данные методы предназначены для получения и создания отпусков штатных сотрудников."
    },
    {
      "name": "Виды отпусков",
      "description": "Данные методы предназначены для получения и манипулирования видами отпусков."
    },
    {
      "name": "Кандидаты",
      "description": "Данные методы предназначены для получения и манипулирования кандидатами."
    },
    {
      "name": "Анкеты кандидатов",
      "description": "Данные методы предназначены для получения и манипулирования анкетами кандидатов."
    },
    {
      "name": "Расчетные листы",
      "description": ""
    },
    {
      "name": "Шаблоны заявлений",
      "description": "Данные методы предназначены для работы с шаблонами заявлений."
    },
    {
      "name": "Заявления",
      "description": "Данные методы предназначены для работы с заявлениями."
    },
    {
      "name": "Филиалы",
      "description": "Данные методы работают для получения и манипулирования филиалами"
    },
    {
      "name": "Провайдеры подписей",
      "description": "Данные методы предназначены для работы с провайдерами подписей."
    },
    {
      "name": "Производственные календари",
      "description": "Данные методы предназначены для работы с производственными календарями."
    }
  ],
  "servers": [
    {
      "url": "https://api.jump.finance/services/openapi"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "ApiKeyQuery": []
    }
  ],
  "paths": {
    "/production-calendars": {
      "post": {
        "tags": [
          "Производственные календари"
        ],
        "summary": "Создать производственный календарь",
        "operationId": "create-production-calendar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.CreateUpdateProductionCalendarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Календарь успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/v1.ProductionCalendar"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/production-calendars/{id}": {
      "put": {
        "tags": [
          "Производственные календари"
        ],
        "summary": "Обновить значения свойств производственного календаря",
        "operationId": "change-production-calendar-properties",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.CreateUpdateProductionCalendarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Свойства календаря успешно обновлены",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/v1.ProductionCalendar"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/production-calendars/{id}/sync-dates": {
      "post": {
        "tags": [
          "Производственные календари"
        ],
        "summary": "Синхронизировать календарные дни производственного календаря",
        "description": "Можно передать до 500 дат в одном запросе.",
        "operationId": "sync-production-calendar-dates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.SyncProductionCalendarDatesRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/agents": {
      "post": {
        "tags": [
          "Юрлица"
        ],
        "summary": "Создание юрлица",
        "description": "Создание  юрлица",
        "operationId": "postAgentsStore",
        "requestBody": {
          "description": "Создает новое юрлицо",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStoreUpdateRequest"
              },
              "example": {
                "name": "ООО Фаворит",
                "inn": "5406678646",
                "ogrn": "1115476092687",
                "address": "г Новосибирск, ул. Фрунзе, 8",
                "city": "Новосибирск",
                "kpp": "1231231231",
                "ogrn_date": "2022-09-12",
                "management_name": "Директор",
                "management_post": "Иванов Иван Иванович",
                "individual_entrepreneur_surname": "Иванов",
                "individual_entrepreneur_name": "Иван",
                "individual_entrepreneur_patronymic": "Иванович"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Юрлицо создано",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/AgentProfile"
                    }
                  }
                },
                "example": {
                  "item": {
                    "id": 123,
                    "name": "ООО Фаворит",
                    "inn": "5406678646",
                    "ogrn": "1115476092687",
                    "address": "г Новосибирск, ул. Фрунзе, 8",
                    "city": "Новосибирск",
                    "kpp": "1231231231",
                    "ogrn_date": "2022-09-12",
                    "management_name": "Директор",
                    "management_post": "Иванов Иван Иванович",
                    "individual_entrepreneur_surname": "Иванов",
                    "individual_entrepreneur_name": "Иван",
                    "individual_entrepreneur_patronymic": "Иванович",
                    "updated_at": "2021-03-15T11:34:44+03:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      },
      "get": {
        "tags": [
          "Юрлица"
        ],
        "summary": "Получить все юрлица",
        "description": "Возвращает список всех юрлиц",
        "operationId": "getAgentsIndex",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Список юрлиц",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentProfile"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  }
                },
                "example": {
                  "items": [
                    {
                      "id": 123,
                      "name": "ООО Фаворит",
                      "inn": "5406678646",
                      "ogrn": "1115476092687",
                      "address": "г Новосибирск, ул. Фрунзе, 8",
                      "city": "Новосибирск",
                      "kpp": "1231231231",
                      "ogrn_date": "2022-09-12",
                      "management_name": "Директор",
                      "management_post": "Иванов Иван Иванович",
                      "individual_entrepreneur_surname": "Иванов",
                      "individual_entrepreneur_name": "Иван",
                      "individual_entrepreneur_patronymic": "Иванович",
                      "updated_at": "2021-03-15T11:34:44+03:00"
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "from": 1,
                    "to": 1,
                    "per_page": 20,
                    "current_page": 1,
                    "last_page": 1
                  },
                  "links": {
                    "path": "string",
                    "first_page_url": "string",
                    "last_page_url": "string",
                    "next_page_url": null,
                    "prev_page_url": null
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          }
        }
      }
    },
    "/agents/{agent_id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "agent_id",
          "in": "path",
          "required": true,
          "description": "Id юрлица"
        }
      ],
      "get": {
        "tags": [
          "Юрлица"
        ],
        "summary": "Получить карточку юрлица",
        "description": "Возвращает карточку юрлица",
        "operationId": "getAgentsShow",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Уникальный идентификатор юрлица",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Карточка юрлица",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/AgentProfile"
                    }
                  }
                },
                "example": {
                  "item": {
                    "id": 123,
                    "name": "ООО Фаворит",
                    "inn": "5406678646",
                    "ogrn": "1115476092687",
                    "address": "г Новосибирск, ул. Фрунзе, 8",
                    "updated_at": "2021-03-15T11:34:44+03:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Юрлица"
        ],
        "summary": "Редактирование юрлица",
        "description": "Обновляет информацию юрлица",
        "operationId": "putAgentsUpdate",
        "requestBody": {
          "description": "Редактирует данные юрлица",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStoreUpdateRequest"
              },
              "example": {
                "name": "ООО Фаворит",
                "inn": "5406678646",
                "ogrn": "1115476092687",
                "address": "г Новосибирск, ул. Фрунзе, 8",
                "city": "Новосибирск",
                "kpp": "1231231231",
                "ogrn_date": "2022-09-12",
                "management_name": "Директор",
                "management_post": "Иванов Иван Иванович",
                "individual_entrepreneur_surname": "Иванов",
                "individual_entrepreneur_name": "Иван",
                "individual_entrepreneur_patronymic": "Иванович"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновленное юрлицо",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/AgentProfile"
                    }
                  }
                },
                "example": {
                  "item": {
                    "id": 123,
                    "name": "ООО Фаворит",
                    "inn": "5406678646",
                    "ogrn": "1115476092687",
                    "address": "г Новосибирск, ул. Фрунзе, 8",
                    "city": "Новосибирск",
                    "kpp": "1231231231",
                    "ogrn_date": "2022-09-12",
                    "management_name": "Директор",
                    "management_post": "Иванов Иван Иванович",
                    "individual_entrepreneur_surname": "Иванов",
                    "individual_entrepreneur_name": "Иван",
                    "individual_entrepreneur_patronymic": "Иванович",
                    "updated_at": "2021-03-15T11:34:44+03:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Юрлица"
        ],
        "summary": "Редактирование отдельных атрибутов юрлица",
        "description": "Обновляет информацию юрлица",
        "operationId": "patchAgentsUpdate",
        "requestBody": {
          "description": "Редактирует данные юрлица",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStorePatchRequest"
              },
              "example": {
                "name": "ООО Фаворит",
                "inn": "5406678646",
                "ogrn": "1115476092687",
                "address": "г Новосибирск, ул. Фрунзе, 8",
                "city": "Новосибирск",
                "kpp": "1231231231",
                "ogrn_date": "2022-09-12",
                "management_name": "Директор",
                "management_post": "Иванов Иван Иванович",
                "individual_entrepreneur_surname": "Иванов",
                "individual_entrepreneur_name": "Иван",
                "individual_entrepreneur_patronymic": "Иванович"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновленное юрлицо",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/AgentProfile"
                    }
                  }
                },
                "example": {
                  "item": {
                    "id": 123,
                    "name": "ООО Фаворит",
                    "inn": "5406678646",
                    "ogrn": "1115476092687",
                    "address": "г Новосибирск, ул. Фрунзе, 8",
                    "city": "Новосибирск",
                    "kpp": "1231231231",
                    "ogrn_date": "2022-09-12",
                    "management_name": "Директор",
                    "management_post": "Иванов Иван Иванович",
                    "individual_entrepreneur_surname": "Иванов",
                    "individual_entrepreneur_name": "Иван",
                    "individual_entrepreneur_patronymic": "Иванович",
                    "updated_at": "2021-03-15T11:34:44+03:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Юрлица"
        ],
        "summary": "Удаление юрлица",
        "description": "Удаляет юрлицо",
        "operationId": "deleteAgentsItem",
        "responses": {
          "204": {
            "description": "Юрлицо удачно удалено"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/branch-office": {
      "get": {
        "tags": [
          "Филиалы"
        ],
        "summary": "Получение списка филиалов",
        "description": "Получение списка филиалов",
        "operationId": "getBranchOffices",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Уникальный идентификатор Юр. лица",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Список филиалов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BranchOfficeItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/branch-office/{branch_office_id}": {
      "patch": {
        "tags": [
          "Филиалы"
        ],
        "summary": "Редактирование филиала",
        "description": "Редактирование филиала",
        "operationId": "editBranchOffice",
        "requestBody": {
          "description": "Редактирует существующий филиал",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchOfficeEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Филиал",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/BranchOfficeItem"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/contractors": {
      "post": {
        "tags": [
          "Исполнители"
        ],
        "summary": "Создать/изменить исполнителя",
        "description": "Исполнитель ищется по номеру телефона. Если исполнителя еще нет в системе, он будет создан. При наличии исполнителя, он будет обновлен. Номер телефона является уникальным в системе и однозначно идентифицирует каждого исполнителя.\n",
        "operationId": "postContractorsStore",
        "requestBody": {
          "description": "Создает нового или обновляет существуещего исполнителя",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractorStoreRequest"
              },
              "example": {
                "phone": "+79031112233",
                "last_name": "Константинопольский",
                "first_name": "Константин",
                "middle_name": "Константинович",
                "legal_form_id": 2,
                "inn": "1234567892",
                "agent_id": 1,
                "group_id": 1,
                "company_agrees_pay_taxes": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Исполнитель",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/ContractorProfile"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      },
      "get": {
        "tags": [
          "Исполнители"
        ],
        "summary": "Получить всех исполнителей",
        "description": "Список всех истоплнителей с пагинацией",
        "operationId": "getContractorsIndex",
        "responses": {
          "200": {
            "description": "Список исполнителей",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContractorProfile"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  }
                },
                "example": {
                  "items": [
                    {
                      "id": 1,
                      "phone": "+79031112233",
                      "last_name": "Константинопольский",
                      "first_name": "Константин",
                      "middle_name": "Константинович",
                      "legal_form_id": 1,
                      "inn": "1234567892",
                      "agent_id": 1,
                      "balance": {
                        "value": 120.34,
                        "currency": {
                          "code": "RUB",
                          "symbol": "&#8381;",
                          "title": "Российский рубль",
                          "unicode": "\\u20BD"
                        }
                      },
                      "agent": {
                        "id": 1,
                        "name": "seamless grow ROI"
                      },
                      "legal_form": {
                        "id": 1,
                        "title": "Физическое лицо",
                        "is_self_employed": false
                      },
                      "is_editable": true,
                      "created_at": "2021-03-12T14:06:47+03:00",
                      "updated_at": "2021-03-12T14:06:47+03:00"
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "from": 1,
                    "to": 1,
                    "per_page": 20,
                    "current_page": 1,
                    "last_page": 1
                  },
                  "links": {
                    "path": "string",
                    "first_page_url": "string",
                    "last_page_url": "string",
                    "next_page_url": null,
                    "prev_page_url": null
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ]
      }
    },
    "/contractors/{contractor_id}": {
      "get": {
        "tags": [
          "Исполнители"
        ],
        "summary": "Получить карточку исполнителя",
        "description": "Возвращает карточку исполнителя",
        "operationId": "getContractorsShow",
        "parameters": [
          {
            "name": "contractor_id",
            "in": "path",
            "description": "Уникальный идентификатор исполнителя",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Карточка исполнителя",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/ContractorProfile"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "item": {
                        "id": 0,
                        "phone": "string",
                        "email": "string",
                        "last_name": "string",
                        "first_name": "string",
                        "middle_name": "string",
                        "inn": "string",
                        "is_editable": true,
                        "updated_at": "string",
                        "created_at": "string",
                        "balance": {
                          "value": 0,
                          "currency": {
                            "code": "RUB",
                            "symbol": "&#8381;",
                            "title": "Российский рубль",
                            "unicode": "\\u20BD"
                          }
                        },
                        "agent": {
                          "id": 123,
                          "name": "ООО Фаворит"
                        },
                        "legal_form": {
                          "id": 1,
                          "title": "Физическое лицо",
                          "is_self_employed": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Исполнители"
        ],
        "summary": "Удалить исполнителя",
        "description": "Удаляет исполнителя",
        "operationId": "deleteContractorsDestroy",
        "parameters": [
          {
            "name": "contractor_id",
            "in": "path",
            "description": "Уникальный идентификатор исполнителя",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Исполнитель успешно удален"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Исполнители"
        ],
        "description": "Обновление исполнителя",
        "summary": "Обновление исполнителя",
        "operationId": "contractorUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractorStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/contractors/{contractor_id}/requisites": {
      "get": {
        "tags": [
          "Исполнители"
        ],
        "summary": "Получить реквизиты исполнителя",
        "description": "Возвращает реквизиты исполнителя",
        "operationId": "getContractorRequisitesShow",
        "parameters": [
          {
            "name": "contractor_id",
            "in": "path",
            "description": "Уникальный идентификатор исполнителя",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Массив реквизитов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContractorRequisites"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "items": [
                        {
                          "id": 0,
                          "display_name": "Название реквизитов",
                          "description": "Мир · 1519",
                          "type": {
                            "id": 8,
                            "slug": "bank_card",
                            "title": "Карта банка по номеру карты"
                          },
                          "icon": {
                            "normal": "https://cdn.jump.finance/image/b/bc/bce1aa6fd5358ee8ad2213f4719bfe9567d0a81e.png",
                            "url": "https://cdn.jump.finance/image/b/bc/bce1aa6fd5358ee8ad2213f4719bfe9567d0a81e.png",
                            "overlay": true
                          },
                          "is_available": true,
                          "is_default": true,
                          "requisite": {
                            "bank_name": null,
                            "account_number": "2202201080431519",
                            "payment_text": null,
                            "bik": null,
                            "sbp_bank_id": null,
                            "inn": null,
                            "last_name": "string",
                            "first_name": "string",
                            "middle_name": "string"
                          },
                          "created_at": "string"
                        }
                      ],
                      "meta": {
                        "total": 1,
                        "from": 1,
                        "to": 1,
                        "per_page": 20,
                        "current_page": 1,
                        "last_page": 1
                      },
                      "links": {
                        "path": "string",
                        "first_page_url": "string",
                        "last_page_url": "string",
                        "next_page_url": null,
                        "prev_page_url": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "parameters": [
        {
          "name": "contractor_id",
          "in": "path",
          "description": "Уникальный идентификатор исполнителя",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/contractors/{contractor_id}/balances": {
      "parameters": [
        {
          "name": "contractor_id",
          "in": "path",
          "description": "Уникальный идентификатор исполнителя",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "get": {
        "tags": [
          "Исполнители"
        ],
        "summary": "Получить балансы исполнителя",
        "description": "Возвращает балансы исполнителя",
        "operationId": "getContractorBalancesIndex",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Дополнительно к существующим полям можно запросить дополнительную информацию по балансу. Пример: include=agent\n\n- **agent** - юрлицо баланса\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Список балансов исполнителя",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CardBalance"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          }
        }
      }
    },
    "/contractors/{contractor_id}/balances/{balance_id}": {
      "parameters": [
        {
          "name": "contractor_id",
          "in": "path",
          "description": "Уникальный идентификатор исполнителя",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "balance_id",
          "in": "path",
          "description": "Уникальный идентификатор баланса",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "get": {
        "tags": [
          "Исполнители"
        ],
        "summary": "Получить баланс исполнителя",
        "description": "Возвращает баланс исполнителя",
        "operationId": "getContractorBalancesShow",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Дополнительно к существующим полям можно запросить дополнительную информацию по балансу. Пример: include=agent\n\n- **agent** - юрлицо баланса\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Карточка баланса исполнителя",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/CardBalance"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          }
        }
      }
    },
    "/contractors/{contractor_id}/selfemployer": {
      "parameters": [
        {
          "name": "contractor_id",
          "in": "path",
          "description": "Уникальный идентификатор исполнителя",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "get": {
        "tags": [
          "Исполнители",
          "Самозанятые"
        ],
        "summary": "Получить информацию о самозанятом",
        "operationId": "getContractorSelfemployerShow",
        "responses": {
          "200": {
            "description": "Карточка самозанятого исполнителя",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Selfemployer"
                    },
                    "": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          }
        },
        "description": "Не делает запрос в налоговую, возвращает текущее состояние самозанятого. "
      }
    },
    "/contractors/{contractor_id}/selfemployer/sync": {
      "parameters": [
        {
          "name": "contractor_id",
          "in": "path",
          "description": "Уникальный идентификатор исполнителя",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "post": {
        "tags": [
          "Исполнители",
          "Самозанятые"
        ],
        "summary": "Проверить статус самозанятого",
        "operationId": "postContractorSelfemployerSync",
        "responses": {
          "200": {
            "description": "Карточка самозанятого исполнителя",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Selfemployer"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "item": {
                        "inn": "960215602664",
                        "is_can_pay_taxes": false,
                        "is_verified": true,
                        "has_company_agrees_pay_taxes": true,
                        "has_warning": true,
                        "sync": {
                          "in_process": false
                        },
                        "messages": {
                          "status": {
                            "type": "error",
                            "short_title": "Требуется разрешение",
                            "detail": "Исполнитель должен подтвердить разрешение на уплату налогов в личном кабинете налогоплательщика или мобильном приложение «Мой налог» в разделе «Партнёры»."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "description": "Отправляет запрос в налоговую для того чтобы проверить, подтвердил ли самозанятый необходимые разрешения. Возвращает ту же модель, что и метод **GET /contractors/{contractor_id}/selfemployer/**\nПосле этого запроса можно запустить опрос метода GET по таймауту (например каждые 2 сек), до тех пор, пока в ответе **sync.in_process === true**\nДанный метод защищен от многократного запуска. Для одного исполнителя можно запрашивать метод **POST** не чаще чем один раз в 30 сек."
      }
    },
    "/contractors/{contractor_id}/identification-requests": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "name": "contractor_id",
            "in": "path",
            "required": true,
            "description": "Идентификатор исполнителя"
          },
          {
            "$ref": "#/components/parameters/identification_request_view"
          }
        ],
        "tags": [
          "Исполнители"
        ],
        "summary": "Принудительно идентифицировать исполнителя",
        "operationId": "postContractorIdentificationRequest",
        "requestBody": {
          "description": "Принудительно идентифицирует исполнителя",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractorIdentificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/IdentificationRequestSimpleView"
                        },
                        {
                          "$ref": "#/components/schemas/IdentificationRequestPassportView"
                        }
                      ]
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/contractors/{contractor_id}/identification-requests/last-approved": {
      "get": {
        "tags": [
          "Исполнители"
        ],
        "summary": "Получить информацию о последнем одобренном запросе на идентификацию",
        "operationId": "get-last-approved-identification-request-for-contractor",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/IdentificationRequestSimpleView"
                        },
                        {
                          "$ref": "#/components/schemas/IdentificationRequestPassportView"
                        }
                      ]
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        },
        "description": "Возвращает информацию о последнем одобренном запросе на идентификацию",
        "parameters": [
          {
            "$ref": "#/components/parameters/identification_request_view"
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "contractor_id",
          "in": "path",
          "required": true,
          "description": "Идентификатор исполнителя"
        }
      ]
    },
    "/vacations/workplaces/import": {
      "post": {
        "tags": [
          "Отпуска"
        ],
        "summary": "Импорт кол-ва оставшихся дней отпуска у указанных сотрудников в указанных юр. лицах",
        "operationId": "postVacationsWorkplacesImport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "agent_id": {
                          "type": "integer",
                          "description": "Идентификатор юр. лица"
                        },
                        "employee_id": {
                          "type": "integer",
                          "description": "Идентификатор сотрудника"
                        },
                        "remaining_vacation_days": {
                          "type": "number",
                          "format": "float",
                          "description": "Кол-во оставшихся дней отпуска сотрудника"
                        }
                      },
                      "required": [
                        "agent_id",
                        "employee_id",
                        "remaining_vacation_days"
                      ]
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Данные приняты"
          }
        },
        "description": ""
      }
    },
    "/vacation-kinds": {
      "get": {
        "tags": [
          "Виды отпусков"
        ],
        "summary": "Получить список видов отпусков",
        "operationId": "getVacationKinds",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VacationKind"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "items",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Виды отпусков"
        ],
        "summary": "Добавить вид отпуска",
        "operationId": "addVacationKind",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Название вида отпуска"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/VacationKind"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/vacation-kinds/{vacation_kind_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "vacation_kind_id",
          "in": "path",
          "required": true,
          "description": "ИД вида отпуска"
        }
      ],
      "get": {
        "summary": "Получить вид отпуска",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/VacationKind"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        },
        "operationId": "getVacationKind",
        "tags": [
          "Виды отпусков"
        ]
      },
      "patch": {
        "summary": "Отредактировать вид отпуска",
        "operationId": "editVacationKind",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/VacationKind"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Название вида отпуска"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Виды отпусков"
        ]
      },
      "delete": {
        "summary": "Удалить вид отпуска",
        "operationId": "deleteVacationKind",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "499": {
            "description": "Нельзя удалить этот вид отпуска, поскольку существуют связанные с ним отпуска",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Удаляет вид отпуска",
        "tags": [
          "Виды отпусков"
        ]
      }
    },
    "/vacations/sync": {
      "post": {
        "tags": [
          "Отпуска"
        ],
        "summary": "Синхронизировать отпуска штатных сотрудников компании",
        "description": "Метод позволяет передать график отпусков штатных сотрудников компании из внешней системы. Отсутствующие в сервисе отпуска будут добавлены, а присутствующие в сервисе, но отсутствующие в запросе – удалены из сервиса. Период синхронизации будет ограничен годом, указанным в запросе, поэтому следует присылать только отпуска за указанный год. В запросе нужно передавать не более 100 штатных сотрудников.",
        "operationId": "syncVacations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VacationsSyncRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Данные для синхронизации успешно приняты"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/vacations": {
      "get": {
        "tags": [
          "Отпуска"
        ],
        "summary": "Получить список отпусков",
        "operationId": "getVacationList",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/vacation_include"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "date_from",
                "-date_from",
                "created_at",
                "-created_at"
              ]
            },
            "in": "query",
            "name": "order",
            "description": "Порядок сортировки"
          },
          {
            "name": "employee_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1,2,5",
            "description": "ИД штатных сотрудников, отпусками которых нужно ограничить выборку, указанные через запятую"
          },
          {
            "schema": {
              "type": "string",
              "example": "1,2,3"
            },
            "in": "query",
            "name": "agent_id",
            "description": "ИД юр.лиц, отпусками которых нужно ограничить выборку, указанные через запятую"
          },
          {
            "schema": {
              "type": "string",
              "example": "1,2,3"
            },
            "in": "query",
            "name": "department_id",
            "description": "ИД отделов, отпусками которых нужно ограничить выборку, указанные через запятую"
          },
          {
            "schema": {
              "type": "string",
              "example": "1,2,3"
            },
            "in": "query",
            "name": "position_id",
            "description": "ИД должностей, отпусками которых нужно ограничить выборку, указанные через запятую"
          },
          {
            "schema": {
              "type": "string",
              "example": "1,2,3"
            },
            "in": "query",
            "name": "vacation_kind_id",
            "description": "ИД типов отпусков, отпусками которых нужно ограничить выборку, указанные через запятую"
          },
          {
            "schema": {
              "type": "boolean",
              "example": "1"
            },
            "in": "query",
            "name": "is_mapped_out",
            "description": "Ограничить выборку только намеченными отпусками"
          },
          {
            "schema": {
              "type": "boolean",
              "example": "1"
            },
            "in": "query",
            "name": "is_scheduled",
            "description": "Ограничить выборку только запланированными отпусками"
          },
          {
            "schema": {
              "type": "boolean",
              "example": "1"
            },
            "in": "query",
            "name": "is_confirmed",
            "description": "Ограничить выборку только подтвержденными отпусками"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "date_from",
            "description": "Дата начала периода, за который запрашиваются отпуска"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "date_to",
            "description": "Дата окончания периода, за который запрашиваются отпуска"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "date_from_min",
            "description": "Минимальная дата начала отпуска"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "date_from_max",
            "description": "Максимальная дата начала отпуска"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vacation"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "items",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/vacations/{vacation_id}": {
      "get": {
        "tags": [
          "Отпуска"
        ],
        "summary": "Получить данные отпуска",
        "operationId": "getVacation",
        "parameters": [
          {
            "$ref": "#/components/parameters/vacation_include"
          },
          {
            "name": "vacation_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Vacation"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/candidates": {
      "post": {
        "summary": "Создать кандидата",
        "operationId": "createCandidate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Candidate"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Имя",
                    "maxLength": 200
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Фамилия",
                    "maxLength": 200
                  },
                  "middle_name": {
                    "type": "string",
                    "description": "Отчество",
                    "maxLength": 200
                  },
                  "phone": {
                    "type": "string",
                    "description": "Номер телефона"
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail",
                    "maxLength": 200
                  },
                  "workplaces": {
                    "type": "array",
                    "description": "Список мест работы (максимум одно)",
                    "minLength": 1,
                    "maxLength": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "agent_id": {
                          "type": "integer",
                          "description": "ИД юр.лица"
                        },
                        "department_id": {
                          "type": "integer",
                          "description": "ИД отдела"
                        },
                        "position_id": {
                          "type": "integer",
                          "description": "ИД должности"
                        },
                        "employment_date": {
                          "type": "string",
                          "description": "Дата выхода на работу",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "agent_id",
                        "department_id",
                        "position_id",
                        "employment_date"
                      ]
                    }
                  },
                  "creator_email": {
                    "type": "string",
                    "description": "E-mail сотрудника создавшего кандидата (на него будут приходить уведомления)",
                    "maxLength": 255
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "phone",
                  "email",
                  "workplaces"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/candidate_include"
          }
        ],
        "description": "Создаёт нового кандидата",
        "tags": [
          "Кандидаты"
        ]
      },
      "get": {
        "tags": [
          "Кандидаты"
        ],
        "summary": "Получить список кандидатов",
        "operationId": "getCandidateList",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/candidate_include"
          },
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1,2,5",
            "description": "ИД юридических лиц, указанные через запятую"
          },
          {
            "name": "department_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1,2,5",
            "description": "ИД отделов, указанные через запятую"
          },
          {
            "name": "position_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1,2,5",
            "description": "ИД должностей, указанные через запятую"
          },
          {
            "name": "employee_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "1,2,5",
            "description": "ИД штатных сотрудников, указанные через запятую"
          },
          {
            "name": "employed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": 1,
            "description": "Был ли трудоустроен сотрудник"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Candidate"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "items",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/candidates/{candidate_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "candidate_id",
          "in": "path",
          "required": true,
          "description": "ИД кандидата"
        },
        {
          "$ref": "#/components/parameters/candidate_include"
        }
      ],
      "get": {
        "summary": "Получить данные кандидата",
        "operationId": "getCandidate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Candidate"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        },
        "description": "Получает данные кандидата",
        "tags": [
          "Кандидаты"
        ]
      },
      "put": {
        "summary": "Обновить персональные данные кандидата",
        "operationId": "updateCandidatePersonalData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Candidate"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        },
        "description": "Обновляет персональные данные кандидата",
        "parameters": [
          {
            "$ref": "#/components/parameters/candidate_include"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Имя",
                    "maxLength": 200
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Фамилия",
                    "maxLength": 200
                  },
                  "middle_name": {
                    "type": "string",
                    "description": "Отчество",
                    "nullable": true,
                    "maxLength": 200
                  },
                  "phone": {
                    "type": "string",
                    "description": "Номер телефона"
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail",
                    "maxLength": 200
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "middle_name",
                  "phone",
                  "email"
                ]
              }
            }
          }
        },
        "tags": [
          "Кандидаты"
        ]
      }
    },
    "/candidates/{candidate_id}/complete-employment": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "candidate_id",
          "in": "path",
          "required": true,
          "description": "ИД кандидата"
        },
        {
          "$ref": "#/components/parameters/candidate_include"
        }
      ],
      "put": {
        "summary": "Завершить трудоустройство кандидата",
        "operationId": "completeCandidateEmployment",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Candidate"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        },
        "description": "Завершает трудоустройство кандидата",
        "tags": [
          "Кандидаты"
        ]
      }
    },
    "/questionnaire-documents": {
      "get": {
        "summary": "Получить список типов документов для анкеты кандидата",
        "tags": [
          "Анкеты кандидатов"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "Список типов документов",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Код типа документа"
                          },
                          "title": {
                            "type": "string",
                            "description": "Название типа документа"
                          }
                        },
                        "required": [
                          "code",
                          "title"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          }
        },
        "operationId": "getQuestionnaireDocuments",
        "description": "Возвращает список типов документов для анкеты кандидата"
      }
    },
    "/questionnaires": {
      "post": {
        "summary": "Создать анкету кандидата",
        "operationId": "createCandidateQuestionnaire",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Questionnaire"
                    }
                  },
                  "required": [
                    "item"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        },
        "description": "Создаёт анкету для кандидата",
        "parameters": [
          {
            "$ref": "#/components/parameters/questionnaire_include"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "candidate_id": {
                    "type": "string",
                    "description": "ИД кандидата"
                  },
                  "requested_document_codes": {
                    "type": "array",
                    "description": "Выбранные коды типов документов",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "candidate_id",
                  "requested_document_codes"
                ]
              }
            }
          }
        },
        "tags": [
          "Анкеты кандидатов"
        ]
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Выплаты"
        ],
        "summary": "Создать выплату",
        "operationId": "postPaymentsStore",
        "description": "По умолчанию мы создаем выплату от юрлица, которому принадлежит исполнитель. Вы можете переопределить это поведение, явно передав идентификатор юрлица в параметре agent_id. Для компаний, поддерживающих работу с несколькими балансами исполнителей, если передан balance_id, то выплата будет создана на юрлицо переданного баланса, и переопредилить юрлицо у выплаты будет нельзя. Зачисление денежных средств осуществляется только на банковские карты, выпущенные в РФ. Если не передать ни requisite_id, ни requisite, то при создании выплаты будет использоваться реквизит исполнителя по умолчанию. Результат запроса на выплату можно получить, вызвав метод <a href=\"#operation/getPaymentsShow\">Получить информацию по выплате</a>, передав в него соответствующий payment_id\n",
        "requestBody": {
          "description": "Создает новую выплату",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentStoreRequest"
              },
              "examples": {
                "Карта банка по номеру карты": {
                  "value": {
                    "requisite": {
                      "type_id": 8,
                      "account_number": "5469550053219652"
                    },
                    "contractor_id": 123,
                    "amount": 100,
                    "agent_id": 61,
                    "service_name": "наименование услуг (только для самозанятых исполнителей)",
                    "payment_purpose": "назначение платежа",
                    "customer_payment_id": "9f0bb7b7-e5cd-4725-8080-4c230ec702ad"
                  }
                },
                "Карта банка по номеру телефона": {
                  "value": {
                    "requisite": {
                      "type_id": 10,
                      "account_number": "+79031112233",
                      "sbp_bank_id": 100000000004
                    },
                    "contractor_id": 123,
                    "amount": 100,
                    "agent_id": 61,
                    "balance_id": 1,
                    "customer_payment_id": "9f0bb7b7-e5cd-4725-8080-4c230ec702ad"
                  }
                },
                "Существующий реквизит": {
                  "value": {
                    "contractor_id": 123,
                    "amount": 100,
                    "agent_id": 61,
                    "requisite_id": 234,
                    "customer_payment_id": "9f0bb7b7-e5cd-4725-8080-4c230ec702ad"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Создание выплаты",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      },
      "get": {
        "tags": [
          "Выплаты"
        ],
        "summary": "Получить все выплаты",
        "description": "Возвращает все выплаты",
        "operationId": "getPaymentsIndex",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Дополнительно к существующим полям можно запросить дополнительную информацию по выплате. Поля передаются через запятую: include=requisite,creator\n\n- **abilities** - возможность совершения действий над выплатой\n- **requisite** - реквизиты, по которым выплата была произведена\n- **creator** - создатель выплаты\n- **agent** - юрлицо, в рамках которого выплата осуществлена\n- **history** - история действий по выплате\n- **payload** - дополнительные клиентские данные о выплате, например данные, введенные на форме при создании: тип договора, его номер и т.д.\n- **act** - информация о связанном с выплатой акте (если есть)\n- **nominal_info** - информация, связанная с номинальным счетом\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Получение всех выплат",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          }
        }
      }
    },
    "/payments/{payment_id}/repeat": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "payment_id",
          "in": "path",
          "required": true,
          "description": "Id выплаты для повтора"
        }
      ],
      "post": {
        "tags": [
          "Выплаты"
        ],
        "description": "Повтор выплаты. \n\nЧтобы узнать, можно ли повторить выплату, выполните запрос на получение выплаты/списка выплат с параметром ?include=abilities. За возможность повторения выплаты отвечает свойство **abilities.can_repeat**.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          }
        }
      }
    },
    "/payments/{payment_id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "payment_id",
          "in": "path",
          "required": true,
          "description": "Id выплаты, по которой запрашивается информация"
        }
      ],
      "get": {
        "tags": [
          "Выплаты"
        ],
        "summary": "Получить информацию по выплате",
        "operationId": "getPaymentsShow",
        "description": "Статус выплаты имеет смысл запрашивать с периодичностью не чаще одного раза в минуту до получения флага is_final.\n",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "act,branch_office"
            },
            "description": "Дополнительно к существующим полям можно запросить дополнительную информацию по выплате. Поля передаются через запятую: include=requisite,creator\n\n- **abilities** - возможность совершения действий над выплатой\n- **requisite** - реквизиты, по которым выплата была произведена\n- **creator** - создатель выплаты\n- **agent** - юрлицо, в рамках которого выплата осуществлена\n- **history** - история действий по выплате\n- **payload** - дополнительные клиентские данные о выплате, например данные, введенные на форме при создании: тип договора, его номер и т.д.\n- **act** - информация о связанном с выплатой акте (если есть)\n- **branch_office** - информация с какого филиала была сделана выплата (если есть)\n- **nominal_info** - информация, связанная с номинальным счетом\n- **bank_account** - информация с какого счета была сделана выплата\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Получение информации по выплате",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/payments/customer-payment/{customer_payment_id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "customer_payment_id",
          "in": "path",
          "required": true,
          "description": "Идентификатор выплаты в системе клиента. Значение должно быть в URL-encoded формате, так как некоторые символы могут быть неправильно интерпретированы на принимающей стороне."
        }
      ],
      "get": {
        "tags": [
          "Выплаты"
        ],
        "summary": "Получить информацию по выплате по идентификатору в системе клиента",
        "operationId": "getPaymentsByCustomerPaymentIdShow",
        "description": "Статус выплаты имеет смысл запрашивать с периодичностью не чаще одного раза в минуту до получения флага is_final.\n",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "act,branch_office"
            },
            "description": "Дополнительно к существующим полям можно запросить дополнительную информацию по выплате. Поля передаются через запятую: include=requisite,creator\n\n- **abilities** - возможность совершения действий над выплатой\n- **requisite** - реквизиты, по которым выплата была произведена\n- **creator** - создатель выплаты\n- **agent** - юрлицо, в рамках которого выплата осуществлена\n- **history** - история действий по выплате\n- **payload** - дополнительные клиентские данные о выплате, например данные, введенные на форме при создании: тип договора, его номер и т.д.\n- **act** - информация о связанном с выплатой акте (если есть)\n- **branch_office** - информация с какого филиала была сделана выплата (если есть)\n- **nominal_info** - информация, связанная с номинальным счетом\n- **bank_account** - информация с какого счета была сделана выплата\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Получение информации по выплате",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/banks_accounts": {
      "get": {
        "tags": [
          "Банковские счета"
        ],
        "summary": "Получить все банковские счета",
        "operationId": "getBankAccountsIndex",
        "description": "Баланс банковских счетов обновляется в системе каждые 30 минут и при открытии страниц личного кабинета с отображением баланса, но не чаще одного раза в три минуты. Для принудительного обновления используйте метод \"Запросить обновление балансов всех банковских счетов\"",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "Передайте значение 'simple' для получения необходимой информации",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Получение всех банковских счетов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BankAccount"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          }
        }
      },
      "parameters": []
    },
[...]
